@import 'styles/variables';

.rowPostLeft {
  max-width: 850px;
  font-size: 1.8rem;
  line-height: 3.2rem;
  text-align: justify;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;

  .rowPostFooter {
    margin-top: 4rem;
  }

  .rowPostTags {
    margin-bottom: 3rem;
  }

  .rowPostInfoBox {
    display: flex;
    align-items: center;
    border: 1px solid red;
    padding: 1rem;
    border-radius: 1rem;
  }
  .titleSavePost {
    font-size: 1.6rem;
  }
}
