@import 'styles/variables';

.header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $white-color;
  z-index: 30;
  transition: 0.3s ease;
}

.headerGroup {
  padding: $spacing-4 0;
  display: flex;
  align-items: center;
  transition: ease 0.3s;

  .headerLogo {
    img {
      max-height: 4.6rem;
      width: auto;
    }
  }

  .headerNav {
    display: flex;
    font-size: 1.6rem;
    margin-left: 5.6rem;

    .headerLink {
      color: $text-color;
      padding: 1rem $spacing-6;
    }
  }

  .headerOption {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;

    // user after login
    .userOption {
      position: relative;

      .userAvatar {
        font-size: 2.6rem;
        .avatar {
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
      }

      .listAction {
        position: absolute;
        top: 6rem;
        right: 0;
        background-color: $white-color;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        width: 22rem;
        z-index: 5;
        border-radius: 1rem;
        padding: 1rem 2rem;
        opacity: 0;
        visibility: hidden;
        transition: ease-in-out 0.3s;

        .linkAction {
          display: block;
          padding: 1rem 0;
          font-size: 1.5rem;
          color: $text-color;
        }

        .btnLogout {
          cursor: pointer;
        }
      }

      .listAction.active {
        top: 4rem;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// hide header
.hideHeader {
  top: -100px;
}
