@import 'styles/variables';

.headerGroup {
  padding: $spacing-4 0;
  display: flex;
  align-items: center;

  .headerLogo {
    img {
      max-height: 4.6rem;
    }
  }

  .headerNav {
    display: flex;
    font-size: 1.6rem;
    margin-left: 5.6rem;

    .headerLink {
      color: $text-color;
      padding: 1rem $spacing-6;
    }
  }

  .headerOption {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;

    // user after login
    .userOption {
      position: relative;

      .userAvatar {
        font-size: 2.6rem;
        .avatar {
          width: 35px;
          height: 35px;
          border-radius: 50%;
        }
      }

      .listAction {
        position: absolute;
        top: 6rem;
        right: 0;
        background-color: $white-color;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        width: 22rem;
        z-index: 5;
        border-radius: 1rem;
        padding: 1rem 2rem;
        opacity: 0;
        visibility: hidden;
        transition: ease-in-out 0.3s;

        .linkAction {
          display: block;
          padding: 1rem 0;
          font-size: 1.5rem;
          color: $text-color;
        }

        .btnLogout {
          cursor: pointer;
        }
      }

      .listAction.active {
        top: 4rem;
        opacity: 1;
        visibility: visible;
      }
    }

    .btnPublish {
      background-color: $gray5-color;
      font-size: 1.4rem;
      padding: 8px 1.2rem;
      border-radius: 1.7rem;
      pointer-events: none;
      opacity: 0.5;
      margin-right: 4rem;
    }

    .activePublish {
      background-color: $green1-color;
      border: 2px solid $text-card-color;
      opacity: 1;
      pointer-events: auto;
      color: $white-color;
    }
  }
}
