@import 'styles/variables';

.chipTag {
  display: inline-block;
  border-radius: 1.5rem;
  padding: 4px 1rem;
  font-weight: 600;
  background-color: $red2-color;
  color: $red1-color;

  & + & {
    margin-left: 0.8rem;
  }

  span {
    font-size: 1.2rem;
  }
}

.green {
  background-color: $green3-color;
  color: $green2-color;
}
