@import 'styles/variables';

.groupSearch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0f172a40;
  z-index: 1000;
  backdrop-filter: blur(8px);
  animation: FadeSearch 0.3s 1;

  .contentSearch {
    max-width: 51.2rem;
    width: 100%;
    margin: 4% auto auto;
    &.active {
      background-color: $white-color;
      border-radius: 1.6rem;
      overflow: hidden;
    }
  }
  .formSearch {
    position: relative;
    padding: 1.8rem 1.6rem 1.8rem 4.8rem;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    background-color: $white-color;
    animation: ScaleInput 0.3s 1;
    &.active {
      border-bottom: 1px solid $gray3-color;
      border-radius: 0;
    }
  }
  .iconSearch {
    position: absolute;
    font-size: 2.4rem;
    left: 0;
    padding-left: 13px;
    color: $gray7-color;
  }
  .inputSearch {
    width: 100%;
    border: none;
    font-size: 1.5rem;
    color: $text-color;
  }
}

.listContent {
  background-color: $white-color;
  .listContentInner {
    overflow: auto;
    height: 40rem;
  }
  .itemList {
    padding: 1.6rem;
    display: flex;
    align-items: center;
    background-color: $white-color;
    border-bottom: 1px solid $gray3-color;
    &:hover {
      background-color: $gray1-color;
    }
  }
  .itemList:last-child {
    border-bottom: none;
  }
  .itemAuth {
    flex-grow: 1;
    margin-right: 3rem;
  }
  .itemImg {
    width: 8rem;
    height: 8rem;
    border-radius: 1rem;
  }
  .itemTitle {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    line-height: 2.5rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: $text-color;
  }
  .footerSearch {
    border-top: 1px solid $gray3-color;
    padding: 1.6rem;
    text-align: right;
  }
}

@keyframes FadeSearch {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ScaleInput {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

// loading / empty
.contentEmpty {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .contentInner {
    display: flex;
    align-items: center;
  }
  .textContent {
    font-size: 1.7rem;
    margin-right: 1rem;
    color: $gray7-color;
  }
  .imgEmpty {
    width: 3rem;
  }
}
