@import 'styles/variables';

.groupSearch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0f172a40;
  z-index: 1000;
  backdrop-filter: blur(8px);
  animation: FadeSearch 0.3s 1;

  .formSearch {
    position: relative;
    max-width: 51.2rem;
    width: 100%;
    padding: 1.8rem 1.6rem 1.8rem 4.8rem;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    background-color: $white-color;
    margin: 15rem auto auto auto;
    animation: ScaleInput 0.3s 1;
  }
  .iconSearch {
    position: absolute;
    font-size: 2.4rem;
    left: 0;
    padding-left: 13px;
    color: $gray7-color;
  }
  .inputSearch {
    width: 100%;
    border: none;
    font-size: 1.5rem;
    color: $text-color;
  }
}

@keyframes FadeSearch {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes ScaleInput {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
