@import 'styles/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5rem;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 3rem;
}

.container-full {
  width: 100%;
  padding: 0 3rem;
}

.container-editor {
  max-width: 180rem;
  margin: 0 auto;
  padding: 0 3rem;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  user-select: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}

input,
textarea {
  outline: none;
  font-family: 'Poppins', sans-serif;
}

// reset bg input default google chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

@import './styles/common.module';

.header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $white-color;
  z-index: 15;
}

.mr-fix {
  padding-top: 8rem;
}

// scroll bar
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $gray2-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray3-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $text-card-color;
}

// rick editor
.jodit-toolbar__box:not(:empty) {
  background-color: $white-color !important;
  border: none !important;
}
.jodit-container:not(.jodit_inline) {
  border: none !important;
}
.jodit-workplace + .jodit-status-bar:not(:empty),
.jodit-editor__resize {
  display: none !important;
}
.jodit-placeholder,
.jodit-container:not(.jodit_inline) .jodit-wysiwyg {
  padding: 1.5rem !important;
}
