* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}
