@import 'styles/variables';

.postTrendingItem {
  display: flex;
  justify-content: space-between;

  & + & {
    margin-top: 3rem;
  }

  .postBody {
    width: 65%;
    margin-right: 2.3rem;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;

    .postContent {
      flex-grow: 1;
    }

    .postTitle {
      font-weight: 600;
      line-height: 2.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      a {
        color: $text-color;
      }
    }

    .postDes {
      color: $text-title-color;
      line-height: 2.4rem;
      margin-top: 1.5rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .postImg {
    img {
      width: 19.2rem;
      height: 19.2rem;
      border-radius: 2.5rem;
    }
  }
}
