.wrapMasonry {
  margin-top: 18rem;
  overflow: hidden;

  .groupMasonry {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
  }
}

.wrapPostTag {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 4rem;
}

.itemPostTag {
  width: calc((100% / 4) - 2.25rem);
}
