.otherArticles {
  margin-top: 11.2rem;

  .otherArticlesGroup {
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .otherArticlesBtn {
    text-align: center;
    margin-top: 8rem;
  }
}
