@import 'styles/variables';

.popupPost {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $white-color;
  z-index: 16;

  .popupClose {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    img {
      width: 2rem;
    }
  }

  .popupContent {
    position: absolute;
    width: 110rem;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;

    .popupContentLeft,
    .popupContentRight {
      width: 46%;
    }

    .uploadFileLabel {
      background: $gray1-color;
      width: 100%;
      display: block;
      border-radius: 5px;
      cursor: pointer;
      text-align: center;
      overflow: hidden;
      height: 24rem;
      position: relative;

      .groupDecoImg {
        font-size: 1.35rem;
        line-height: 2rem;
        padding: 5rem;
        height: 100%;

        .chooseImage {
          img {
            width: 50px;
            margin-top: 1rem;
          }
          p:last-child {
            margin-top: 2rem;
            color: $green1-color;
          }
        }

        // preview image
        .renderImage {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          overflow: hidden;

          img {
            height: 100%;
          }

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transition: 0.3s ease-in-out;
            opacity: 0;
            background: rgba(255, 255, 255, 0.8);
          }
        }

        &:hover .renderImage::after {
          opacity: 1;
        }
        &:hover .chooseImage {
          position: relative;
          z-index: 2;
        }
      }
    }

    .postField {
      margin-top: 2rem;
      .contentTag {
        outline: none;
        padding-bottom: 4px;
        border-bottom: 0.1px solid rgba(0, 0, 0, 0.15);
        line-height: 2.5rem;
      }

      [data-content]:empty::before {
        content: attr(data-content);
        color: $text-card-color;
      }

      .contentTagTitle {
        font-size: 1.8rem;
      }

      .contentTagDes {
        font-size: 1.5rem;
      }

      .contentTagTitle:empty::before {
        font-weight: 550;
      }
    }

    .postBox {
      label {
        font-size: 1.4rem;
        display: block;
        text-align: left;
      }

      .postBoxInput {
        border: 1px solid #ddd;
        padding: 1.3rem;
        width: 100%;
        font-size: 1.4rem;
        margin-top: 1.3rem;
      }

      .postBoxNote {
        margin-top: 1rem;
        text-align: left;
        font-size: 1.2rem;
        color: $text-card-color;
      }
    }

    .btnPublish {
      padding: 1.4rem 1.5rem;
      border-radius: 5px;
      background-color: $green1-color;
      color: $gray1-color;
      font-size: 1.4rem;
      display: flex;
      align-items: center;
      margin-left: auto;

      &:hover {
        background: #3a978e;
      }
    }
  }

  .postBox + .postBox {
    margin-top: 5rem;
  }
}
