@import 'styles/variables';

.boxComment {
  line-height: 2rem;
  .commentRoot {
    background-color: $gray1-color;
    border-radius: 1.5rem;
    padding: 1rem;
    width: max-content;
  }
  .userNameComment {
    font-weight: 600;
  }
  .contentComment {
    font-size: 1.4rem;
    margin-top: 1rem;
  }
}
