@import 'styles/variables';

.wrapVideo {
  position: relative;
  padding: 8rem 0;
  color: $gray1-color;
  .bgVideo {
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    width: 50%;
    background-color: $post-header-color;
    border-radius: 0 4rem 4rem 0;
  }
  .contentPostVideo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .infoPost {
    width: 100%;
    width: 39rem;
  }
  .contentVideo {
    flex-grow: 1;
    height: 45rem;
    margin-left: 4rem;
    border: 4px solid $white-color;
    border-radius: 2rem;
    overflow: hidden;
  }
}
