@import 'styles/variables';

.tabImage {
  display: flex;
  align-items: center;
  background-color: $gray1-color;
  border-radius: 1rem;
  padding: 8px;
  .buttonTabImage {
    padding: 1rem 0;
    background-color: transparent;
    width: 50%;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;

    &.active {
      background-color: $white-color;
      color: $blue2-color;
    }
  }
}

.groupCurrentTab {
  margin-top: 2rem;
  background-color: $gray1-color;
  border-radius: 1rem;
  padding: 1.6rem;
}

// input common menu (image, youtube, link ...)
.currentTabForm {
  margin-bottom: 2rem;
}
.currentTabLabel {
  display: block;
  font-size: 14px;
  font-weight: 600;
}
.currentTabInput {
  margin-top: 1rem;
  width: 100%;
  border: none;
  padding: 1.2rem 1.6rem;
  border-radius: 1rem;
  border: 1px solid $gray3-color;
  &:focus {
    border: 1px solid $blue-color;
    outline: 3px solid #e9e7ff;
  }
}

// style error
.errorLinkImage {
  color: $red-fresh;
  font-size: 1.3rem;
  margin-top: 5px;
}
