@import 'styles/variables';

.lifeStyleItem:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.lifeStyleItem:nth-child(6) {
  grid-row: 2 / 2;
  grid-column: 3 / 5;
}

.lifeStyleItem {
  display: block;
  overflow: hidden;
  border-radius: 2rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  .itemHeader {
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      display: none;
    }
  }

  &:hover .itemHeader::after {
    display: block;
  }

  .itemBody {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to top,
        rgb(0 0 0 / 0.6),
        rgb(0 0 0 / 0)
      );
      z-index: -1;
    }

    .itemBodyTitle {
      font-size: 1.8rem;
      line-height: 2.5rem;
      font-weight: 500;
      margin-top: 1.8rem;
      color: $white-color;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .itemBodyDes {
      margin-top: 6px;
      font-size: 1.3rem;
      line-height: 2.4rem;
      color: $gray3-color;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
    }
  }

  .interactive {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease-in;

    .interactiveInfo {
      display: flex;
    }
  }

  &:hover .interactive {
    opacity: 1;
  }
}
