@import 'styles/variables';

.settingPost {
  max-width: 67rem;
  width: 100vh;
  background-color: $white-color;
  left: 50%;
  bottom: 6.5rem;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 1rem;
  box-shadow: (0 0 hsl(0deg 0% 0% / 0%), 0 0 #0000),
    (0 0 hsl(0deg 0% 0% / 0%), 0 0 #0000),
    0 20px 25px -5px hsl(0deg 0% 0% / 10%),
    0 8px 10px -6px hsl(0deg 0% 0% / 10%);
  border: 1px solid $gray5-color;
  z-index: 5;
  .settingContent {
    padding: 2.4rem 2rem;
  }
  .headerSetting {
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.8rem;
    border-bottom: 1px solid $gray5-color;
  }
}

.bodySetting {
  padding-top: 2rem;
  .settingGroup {
    margin-bottom: 2rem;
  }
  .settingLabel {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    display: block;
    margin-bottom: 4px;
  }
  .settingDes {
    width: 100%;
    resize: none;
    padding: 8px 12px;
    border-radius: 1.2rem;
    border: 1px solid $gray2-color;
    outline: 0 solid $gray2-color;
    height: 9.8rem;
  }
}

// select format
.groupSelect {
  position: relative;
  .labelFormat {
    width: 100%;
    padding: 8px 12px;
    border-radius: 2rem;
    text-align: left;
    border: 1px solid $gray2-color;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .iconDropdown {
    width: 20px;
    color: $gray7-color;
  }

  .listFormat {
    background-color: $white-color;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 1rem;
    overflow: hidden;
    padding: 1rem 0;
    position: absolute;
    top: 120%;
    z-index: 1;
  }
  .itemFormat {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding: 8px 16px 8px 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    &:hover {
      background-color: #f0eea1;
    }
  }

  .iconChecked {
    width: 20px;
    position: absolute;
    left: 0;
    margin-left: 1.3rem;
    color: #cdc951;
  }
}

.inputVideoUrl {
  width: 100%;
  border: 1px solid $gray2-color;
  border-radius: 2rem;
  padding: 1.1rem 1.6rem;
}
.allowComment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

// footer setting
.footerSetting {
  text-align: right;
  padding: 2rem;
  background-color: #f9fafb;
  .btnCancel {
    margin-right: 1.5rem;
  }
}
