.headerInfo {
  background-color: #111827;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: 0.3s ease;
  header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
.existHeaderMain {
  top: 8rem;
}
.infoPost {
  display: flex;
  align-items: center;
  color: #fff;
  img {
    width: 44px;
    border-radius: 50%;
  }
  .titlePost {
    margin-left: 1.6rem;
    font-size: 1.8rem;
    font-weight: 400;
    flex-grow: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 2.5rem;
  }
  .dataPost {
    display: flex;
    align-items: center;
    margin-left: 10rem;
  }
  .postInfoLine {
    border-left: 1px solid #36404f;
    height: 2.5rem;
    margin: 0 1rem;
  }
}
