@import 'styles/variables';
.loadingScroll {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 80px;
  min-height: 80px;
}
.loadingScroll div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 33px;
  height: 33px;
  margin: 8px;
  border: 3.5px solid $green-bold-hover;
  border-radius: 50%;
  animation: loadingScroll 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $green-bold-hover transparent transparent transparent;
}
.loadingScroll div:nth-child(1) {
  animation-delay: -0.45s;
}
.loadingScroll div:nth-child(2) {
  animation-delay: -0.3s;
}
.loadingScroll div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loadingScroll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
