@import 'styles/variables';

.trendingGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 7rem;

  // post main trending
  .postMain {
    width: 50%;
    display: flex;
    flex-direction: column;

    .postHeader {
      img {
        border-radius: 2.7rem;
        width: 100%;
        height: 47.1rem;
      }
    }
  }

  .postBody {
    margin-top: 2.6rem;
    height: 100%;

    .postBodyContent {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    .fillItem {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    .truncateText {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .postTitle {
      font-size: 2.4rem;
      line-height: 3.2rem;
      color: $text-color;
    }

    .postDes {
      margin: 1rem 0 2rem 0;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: $text-title-color;
      -webkit-line-clamp: 2;
    }
  }

  .postItemGroup {
    width: 50%;
    margin-left: 2.7rem;
  }
}
