@import 'styles/variables';

.groupContentPost {
  display: flex;

  .contentPost {
    width: 50%;
    font-size: 1.5rem;
    padding: 0 0 0 3rem;
    overflow-y: auto;
    line-height: 2.3rem;
    max-height: 60rem;
    border-left: 1px solid $gray5-color;
  }
}
