@import 'styles/variables';

.appChat {
  display: flex;
  height: 100vh;
  overflow: hidden;
  .sidebarChat {
    width: 46rem;
  }
}

.sidebarChat {
  display: flex;
  .sidebarOption {
    width: 7.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  .listOption {
    width: 100%;
    text-align: center;
  }
  .itemOption {
    font-size: 2.5rem;
    display: block;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background: $gray2-color;
    }
  }
  .itemOption + .itemOption {
    margin-top: 2rem;
  }
}

// conversation
.conversation {
  width: 100%;
  height: calc(100% - 84px);
  .contentChat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
.listChat {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  .boxChat {
    padding: 2rem;
    margin-top: auto;
  }
}

// header chat
.headerChat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.4rem;
  border-bottom: 1px solid #eee;

  .userChat {
    display: flex;
    align-items: center;
    .userNameChat {
      font-size: 1.5rem;
      margin-left: 1.5rem;
    }
  }
}
