@import 'styles/variables';

.groupPost {
  margin-top: 18rem;

  .navigationTabs {
    display: flex;
    align-items: center;
    margin-bottom: 3.5rem;

    .groupBtnNav {
      flex-grow: 1;
    }

    .groupSelect {
      position: relative;
    }

    .btnAction {
      display: flex;
      align-items: center;
      border: 1px solid $gray2-color;
      padding: 7px 1.6rem;
      border-radius: 2rem;

      &:hover {
        border: 1px solid $gray3-color;
      }

      .btnActionTxt {
        font-size: 1.4rem;
        flex-grow: 1;
        padding-right: 3rem;
      }

      .btnActionIcon {
        font-size: 2rem;
        width: 1.5rem;
      }
    }

    .listSelect {
      position: absolute;
      bottom: -9rem;
      right: 0;
      width: auto;
      border: 1px solid $gray2-color;
      border-radius: 1rem;
      padding: 5px 0;
      background-color: $white-color;
      z-index: 5;

      .itemSelect {
        position: relative;
        display: flex;
        align-items: center;
        padding: 8px 16px 8px 4.5rem;
        cursor: default;
        font-size: 1.4rem;
        line-height: 2rem;
        cursor: pointer;

        &:hover {
          background-color: $gray8-color;
          color: $blue-color;
        }

        .iconSelect {
          position: absolute;
          width: 2rem;
          left: 2rem;
        }

        span {
          white-space: nowrap;
        }
      }

      .itemSelect.active > .iconSelect {
        color: $blue-color;
      }
    }
  }

  .groupBtn {
    text-align: center;
    margin-top: 2.5rem;
  }
}
