@import 'styles/variables';

.hotTopicsBg {
  max-width: 153.7rem;
  margin: 0 auto;
  margin-top: 11.2rem;
  border-radius: 4rem;
  padding: 7rem 0;
  background-color: $bg-gray;

  .hotTopicHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .carouselHotTopic {
    margin-top: 7rem;
    margin-left: -1rem;
    margin-right: -1rem;

    .carouselGroup {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
    }
  }
}
