@import 'styles/variables';

.commentGroup {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  font-size: 1.5rem;

  .listBoxComment {
    width: 100%;

    .moreComment {
      margin-top: 1.5rem;
      cursor: pointer;
      user-select: none;
    }

    .groupReply {
      border-left: 1px solid $text-card-color;
      padding-left: 2rem;
      margin-bottom: 1rem;
    }
  }
}

.groupReplyComment {
  display: flex;
  margin-top: 2rem;

  .replyComment {
    background-color: $gray1-color;
    border-radius: 1.5rem;
    padding: 1rem;

    .replyCommentUserName {
      font-weight: 600;
    }
    .replyCommentContent {
      margin-top: 1rem;
    }
  }
}
