@import 'styles/variables';

.totalComment {
  font-size: 17px;
  padding-bottom: 5px;
  margin-top: 1rem;
  font-weight: 600;
  span {
    font-size: 1.5rem;
    margin-left: 5px;
  }
}

.comments {
  border-top: 1px solid $gray5-color;
  .commentBox {
    margin-top: 4rem;
  }
}
.commentGroup {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  font-size: 1.5rem;
  .listBoxComment {
    width: 100%;
    .moreComment {
      margin-top: 1.5rem;
      cursor: pointer;
      user-select: none;
      display: flex;
      align-items: center;
      font-weight: 500;
      i {
        padding-left: 1rem;
      }
    }
    .groupReply {
      border-left: 1px solid $text-card-color;
      padding-left: 2rem;
      margin-bottom: 1rem;
    }
  }
}

.groupReplyComment {
  display: flex;
  margin-top: 2rem;
  .boxReply {
    width: 100%;
  }
  .replyComment {
    background-color: $gray1-color;
    border-radius: 1.5rem;
    padding: 1rem;
    width: max-content;
    .replyCommentUserName {
      font-weight: 600;
    }
    .replyCommentContent {
      margin-top: 1rem;
      > span {
        font-weight: 600;
        padding-right: 1rem;
        color: $green2-color;
      }
    }
  }
}

.btnMoreComment {
  font-size: 1.4rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  display: flex;
  align-items: center;
  span {
    padding-right: 4px;
  }
  img {
    width: 1.7rem;
  }
}
