@import 'styles/variables';

// menu fixed
.menuPost {
  position: fixed;
  right: 1%;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
  .titleMenu {
    font-size: 1.6rem;
    font-weight: 500;
    background-color: $green-bold-hover;
    padding: 0.7rem 1.2rem;
    border-radius: 5px;
    color: $white-color;
    margin-bottom: 10px;
    max-width: 15rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
  }
  .itemMenuPost {
    padding: 1rem;
    border-radius: 1rem;
    background-color: $white-color;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: fit-content;
    &:hover {
      background-color: $gray1-color;
      transition: 0.2s ease-in;
    }
  }
  .itemMenuPost + .itemMenuPost {
    margin-top: 1rem;
  }
  .iconMenu {
    width: 35px;
  }
}

.groupMessageWarning {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: $red-fresh;
  font-style: italic;
  img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
  }
}
