// Spacing
$spacing-0: 0;
$spacing-1: 0.4rem;
$spacing-2: 0.8rem;
$spacing-3: 1.2rem;
$spacing-4: 1.6rem;
$spacing-5: 2rem;
$spacing-6: 2.4rem;
$spacing-7: 3.2rem;
$spacing-8: 4.8rem;
$spacing-9: 6.4rem;
$spacing-10: 8rem;

// Color
$text-color: #333;
$gray1-color: #f3f4f6;
$gray2-color: #eee;
$gray3-color: #d3d7dd;
$text-card-color: #adb1b8;

$blue-color: #4f46e5;
$blue2-color: #4338ca;

$white-color: #fff;
$text-title-color: #7e8490;
$bg-gray: #f3f4f6;

$green-bold: #134e4a;
$green1-color: #46aea4;
